dist: trusty
sudo: false
language: go
go: 1.x
after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  provider: releases
  api_key:
    secure: lwY0c02bGtmFZKfU82RlRIGKUI+eU/ibuUuuxtp8u9A4917qu3ZkoMXGmzmgMiPwMilPBj6jbmUtL5jXMJK/fPda7FKzGFxWPYTi2es5W6uwXlGmYJld2cqYdXEROAnbgr6GJEF0EJ29SYw5tZaCz1lj/LVaolkcPRGY/Z9U0/0stabWBNM00JMsmd0O63DgYG4RvqaUlUmrJsFaewG0UQTtnHU0xzKu2ebVcuNT4vPYBOxN5Jcu+MvwDw98fWsw8yDLC8CM5zA4QFkmsdfycNGrGBGVOtFumR5ouJWsy6wepYsYeaZybM7zE9Ls4SlkR1mUBsOj3DoPg/HD6HK1m9liPhVpoJLC762WuqtrYFsZjPzCoGaU/eQGcmm5EF0/kn4fl1seERWtP7/bfMX/c8e5p1l5rDDdxroT1tWp8uxH9R4LpLMJLtDQIFoxwmwiT9MkKxdTuVtM5qmcd6zAHc7Ud15NEdNfFQMyOKk5z22HGpRFpZRypljbpxL8vgv6tnWhpVi5+Q/30a93DwBZ/R+tJ9m9dnGaUJ+ONAFUVS4WvbRQmuS7oHzHtJsih8yN71cw11IvyevigBBaPrvJvMOTOMRZt0+Xtk0CPFMMpi2SvG55/rV5JKC4MXb/rxGcEKhFYsG1rg+w7vNyrfCVkFdxvo7e0y4t57V6ik3JE10=
  file_glob: true
  file: dist/*
  skip_cleanup: true
  on:
    tags: true
