<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
		<script src="https://connect-cdn.atl-paas.net/all.js" data-options=""></script>

		<script>
			function getParameterByName(name, url) {
				var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, ' '));
			}

			AP.getLocation(function (loc) {
				document.getElementById('{{ .ArgMMToken }}').value = getParameterByName('{{ .ArgMMToken }}', loc);
			});

			AP.context.getToken(function (token) {
				document.getElementById('{{ .ArgJiraJWT }}').value = token;
				document.forms['user_connect'].submit();
			});
		</script>
	</head>
	<body>
		<form id="user_connect" name="user_connect" action="{{ .SubmitURL }}">
			<input type="hidden" id="{{ .ArgJiraJWT }}" name="{{ .ArgJiraJWT}}" value="none"/>
			<input type="hidden" id="{{ .ArgMMToken }}" name="{{ .ArgMMToken}}" value="none"/>
		</form>
	</body>
</html>

