.channel-subscriptions-modal {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 14px;

    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .channel-subscriptions-modal-body {
        max-width: 960px;
        width: 100%;
        margin-bottom: 28px;
        padding-right: 20px;
        padding-left: 20px;

        table {
            margin: 2rem 0;
        }

        th,
        td {
            padding: 1rem 0;
        }
    }

    .select-channel-subscriptions-row {
        button {
            font-size: 16px;
            font-weight: 600;
            border-radius: 4px;
            &:focus, &:active, &:focus:active {
                outline: none;
                border-color: transparent;
            }
        }
    }
}
