.FullScreenModal {
    .back {
        top: 48px;
        left: 48px;
    }

    .close-x, .back {
        position: absolute;
        background-color: transparent;
        outline: none;
        border: none;
    }
}
